<html>  
<head>  
    <title>upload</title>  
</head>  
<body>
    <h1>Calendar Shifting</h1>
    <hr>
    <!--  
    below is a form that takes in alll user input and redirects to the /success page
    see success.html in the template folder for more information
    -->
    <form action = "/success" method = "post" enctype="multipart/form-data"> 
        <label for ="upload"> Upload an .ics file:</label>
        <input type="file" name="file" />  <br>
        <label for ="date"> Enter a date in MM/DD/YYYY format:</label>
        <input type = "text" name = "text"/><br>
        <input type = "submit" value="Generate a new .ics file">  
    </form>  
</body>  
</html>  